## Types

1. popularity based RS - trending, popular conetent based on some formula
2. content based RS - based on content like actor, director, description
3. collaborative filetring based RS - based on users rating user-user
4. hybrid RS

In [ ]:
import numpy as np
import pandas as pd
# from google.colab import files
# files.upload()

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# After executing the cell above, Drive
# files will be present in "/content/drive/My Drive".
!ls "/content/drive/My Drive/ML_Projects/archive"

Books.csv  Ratings.csv	Users.csv

In [ ]:
books = pd.read_csv('/content/drive/My Drive/ML_Projects/archive/Books.csv')
ratings = pd.read_csv('/content/drive/My Drive/ML_Projects/archive/Ratings.csv')
users = pd.read_csv('/content/drive/My Drive/ML_Projects/archive/Users.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
books.head(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...

In [ ]:
users.head(2)

   User-ID                   Location   Age
0        1         nyc, new york, usa   NaN
1        2  stockton, california, usa  18.0

In [ ]:
ratings.head(2)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5

In [ ]:
print(books.isnull().sum())
print("------------------------")
print(users.isnull().sum())
print("------------------------")
print(ratings.isnull().sum())

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64
------------------------
User-ID          0
Location         0
Age         110762
dtype: int64
------------------------
User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [ ]:
print(books.duplicated().sum())
print("------------------------")
print(users.duplicated().sum())
print("------------------------")
print(ratings.duplicated().sum())

0
------------------------
0
------------------------
0

In [ ]:
users.describe()

            User-ID            Age
count  278858.00000  168096.000000
mean   139429.50000      34.751434
std     80499.51502      14.428097
min         1.00000       0.000000
25%     69715.25000      24.000000
50%    139429.50000      32.000000
75%    209143.75000      44.000000
max    278858.00000     244.000000

### popularity based RS

In [ ]:
ratings_books = ratings.merge(books, on='ISBN')

In [ ]:
ratings_count = ratings_books.groupby('Book-Title').count()['Book-Rating'].reset_index()
ratings_count.rename(columns={'Book-Rating':'BookRatingCount'}, inplace=True)
ratings_count.head()

                                          Book-Title  BookRatingCount
0   A Light in the Storm: The Civil War Diary of ...                4
1                              Always Have Popsicles                1
2               Apple Magic (The Collector's series)                1
3   Ask Lily (Young Women of Faith: Lily Series, ...                1
4   Beyond IBM: Leadership Marketing and Finance ...                1

In [ ]:
ratings_avg = ratings_books.groupby('Book-Title').mean()['Book-Rating'].reset_index()
ratings_avg.rename(columns={'Book-Rating':'BookRating_avg'}, inplace=True)
ratings_avg.head()

                                          Book-Title  BookRating_avg
0   A Light in the Storm: The Civil War Diary of ...            2.25
1                              Always Have Popsicles            0.00
2               Apple Magic (The Collector's series)            0.00
3   Ask Lily (Young Women of Faith: Lily Series, ...            8.00
4   Beyond IBM: Leadership Marketing and Finance ...            0.00

In [ ]:
popularity_df = ratings_count.merge(ratings_avg,on='Book-Title')
popularity_df = popularity_df[popularity_df['BookRatingCount'] >= 250].sort_values('BookRating_avg',ascending=False).head(50)
popularity_df

,Book-Title,BookRatingCount,BookRating_avg
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [ ]:
popular_df = popularity_df.merge(books, on='Book-Title').drop_duplicates('Book-Title')[['Book-Title', 'BookRating_avg', 'Book-Author','BookRatingCount','Image-URL-M']]
popular_df.head(2)

,Book-Title,BookRating_avg,Book-Author,BookRatingCount,Image-URL-M
0,Harry Potter and the Prisoner of Azkaban (Book 3),5.852804,J. K. Rowling,428,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),5.824289,J. K. Rowling,387,http://images.amazon.com/images/P/0439139597.0...

## Collaborative Filtering

In [ ]:
user_rating_200 = ratings_books.groupby('User-ID').count()['Book-Rating'].reset_index()
user_rating_200.rename(columns={'Book-Rating':'BookRatingCount'}, inplace=True)
user_rating_200 = user_rating_200[user_rating_200['BookRatingCount'] >= 200]
user_rating_200.head()
eligible_user = user_rating_200['User-ID'].to_list()
print(len(eligible_user))

816

In [ ]:
filtered_user = ratings_books[ratings_books['User-ID'].isin(eligible_user)]
filtered_user.shape

(475007, 10)

In [ ]:
filtered_book = filtered_user.groupby('Book-Title').count()['Book-Rating'].reset_index()
filtered_book.rename(columns={'Book-Rating':'BookRatingCount'}, inplace=True)
filtered_book = filtered_book[filtered_book['BookRatingCount'] >= 50]
filtered_book.head()
eligible_book = filtered_book['Book-Title'].to_list()

In [ ]:
filtered_user_book = ratings_books[ratings_books['Book-Title'].isin(eligible_book)]
filtered_user_book.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
62,276727,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
64,638,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...

In [ ]:
pt = filtered_user_book.pivot_table(index='Book-Title', columns='User-ID', values='Book-Rating')
pt.fillna(0, inplace=True)
pt.shape

(707, 34171)

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity
sim_score = cosine_similarity(pt)
sim_score.shape

(707, 707)

In [ ]:
def recommend(books):
  index = pt_list.index(books)
  sim_books = sorted(list(enumerate(sim_score[index])), key=lambda x:x[1], reverse=True)[1:9]
  for i in sim_books:
    print(pt_list[i[0]])

In [ ]:
recommend('1984')

Animal Farm
Brave New World
Lord of the Flies
The Vampire Lestat (Vampire Chronicles, Book II)
The Catcher in the Rye
The Drawing of the Three (The Dark Tower, Book 2)
The Hitchhiker's Guide to the Galaxy
The Gunslinger (The Dark Tower, Book 1)

In [ ]:
import pickle
from google.colab import files
pickle.dump(sim_score,open('books_dict.pkl','wb'))
files.download('books_dict.pkl')

In [ ]:
books_image = filtered_user_book.drop_duplicates(subset='Book-Title', keep="last")[['Book-Title', 'Image-URL-M']]
books_image = books_image.set_index('Book-Title')
pickle.dump(books_image.to_dict(),open('books_image.pkl','wb'))
files.download('books_image.pkl')

In [ ]:
pt_list = pt.index.to_list()
pt_list[pt_list.index('1984')]

'1984'

In [ ]:
books_image.to_dict()['Image-URL-M']['1984']

'http://images.amazon.com/images/P/8423328651.01.MZZZZZZZ.jpg'

In [ ]:
pickle.dump(pt_list,open('pt.pkl','wb'))
files.download('pt.pkl')